.list_item {
  display: flex;
  margin: 0 auto;
  text-align: left;
  font-weight: bold;
  margin-bottom: 10px;
  margin-top: 50px;
  justify-content: space-between;
  font-size: 20px;
}

.delete_btn {
  font-weight: bold;

  border-radius: 4px;

  margin-left: 10px;
  justify-content: left;
  cursor: pointer;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.new_item {
  color: white;
  text-align: baseline;
}
